.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map {
  position: fixed;
  bottom: 0;
  right: 0;
}

.map-col {
  display: flex;
}

.map-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid #eeeeee;
}

.boundary-n {
  border-top: 1px solid #000000;
}

.boundary-s {
  border-bottom: 1px solid #000000;
}

.boundary-e {
  border-right: 1px solid #000000;
}

.boundary-w {
  border-left: 1px solid #000000;
}
