@import "the-new-css-reset/css/reset.css";

.title-screen {
  background-image: url('../../assets/screens/title-screen.jpg');
  width: 100vw;
  height: 100vh;
  background-size: 110%;
  background-position: bottom -1vh center;
}

button {
  border: 1px solid #000000;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.time {
  position: fixed;
  bottom: 13rem;
  right: 5rem;
  font-size: 24px;
}

.map {
  position: fixed;
  bottom: 0;
  right: 0;
}

.map-col {
  display: flex;
}

.map-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid #eeeeee;
}

.boundary-n {
  border-top: 1px solid #000000;
}

.boundary-s {
  border-bottom: 1px solid #000000;
}

.boundary-e {
  border-right: 1px solid #000000;
}

.boundary-w {
  border-left: 1px solid #000000;
}

.player-n {
  transform: rotate(-90deg);
}

.player-s {
  transform: rotate(90deg);
}

.player-w {
  transform: rotate(-180deg);
}

.toasts {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.toast {
  display: flex;
  height: 25px;
}

.toast-success {
  background: green;
  color: white;
}

.pause-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: 32px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}

.pause-menu.paused {
  display: flex;
}
